<!-- About Section -->
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Program</h2>
                </div>
            </div>
            <div class="row"><div class="col-lg-12"><p class="lead"><span class = "text-danger">Wednesday October 9th (8-10PM): </span><br>Healing & Injury Prevention class with Sininho at MoveMe Studio (3966 Piedmont Ave, Oakland)</p></div></div>
            <div class="row"><div class="col-lg-12"><p class="lead"><span class = "text-danger">Thursday October 10th (8-10PM): </span><br>Class and roda with Mestre Marcelo at MoveMe Studio (3966 Piedmont Ave, Oakland)</p></div></div>
            <div class="row"><div class="col-lg-12"><p class="lead"><span class = "text-danger">Friday October 11th (730-10PM): </span><br>Opening roda at OMNI Common (4799 Shattuck Ave, Oakland)</p></div></div>
            <div class="row"><div class="col-lg-12"><p class="lead"><span class = "text-danger">Saturday October 12th at OMNI Common (4799 Shattuck Ave, Oakland):</span><br>
-1030AM-12PM Afro dance class with Mestre Urubú Malandro<br>
-1PM-3PM Warriors class with Contramestre Versatil<br>
-3PM-430PM Movement class with Mestre Fabião<br>
-430PM-6PM Movement class with Mestre Paulo Batuta<br>
-6PM-730PM Roda<br>
-730PM-End Party at Sabonete’s house
</p></div></div>
            <div class="row"><div class="col-lg-12"><p class="lead"><span class = "text-danger">Sunday October 13th at OMNI Common (4799 Shattuck Ave, Oakland):</span><br>
-1030AM-12PM Dance class with Tania Santiago<br>
-12PM-130PM Movement class with Mestra Luar do Sertão<br>
-2PM-5PM Batizado</p></div></div>
        </div>
    </section>