<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Register Now!</h2>
                <h3 class="section-subheading text-muted">For questions, you may send us your inquiry via our <a href="https://www.facebook.com/">Facebook event page</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="control-group form-group">
                            <p class="help-block text-danger">Early bird prices are for those who make payment before September 30th.</p></div>
                        <div class="control-group form-group">
                            <p class="help-block text-danger"> 20% off for Professores and C. Mestres.</p></div>
                        <div class="control-group form-group">
                            <h3 class="help-block text-danger">Full Event: $150 early bird, $200 regular, $225 at the door.</h3>
                        </div>
                        <div class="control-group form-group">
                            <h3 class="help-block text-danger">Saturday all day: $100 early bird, $150 regular, $180 at the door.</h3>
                        </div>
                        <div class="control-group form-group">
                            <h3 class="help-block text-danger">Sunday Event: $50 early bird, $60 regular, $80 at the door.</h3>
                        </div>
                        <div class="control-group form-group">
                            <h3 class="help-block text-danger">Single Workshop: $30 early bird, $40 at the door.</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <div id="success"></div>
                        <p class="text-muted">You will be led to Google Docs to fill a form, and then make payment on <a href="http://mandinga.org/events/">Mandinga website event page</a></p>
                        <button onclick="window.location.href = 'https://docs.google.com/forms/d/e/1FAIpQLScX8kYw1c_IpoDuxdf7pJQWujNiqy4dB8pPQuC1gHPsi64mmw/viewform';" class="btn btn-xl">Register</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>